# Copy this file to .env.local for local development.
# Do not commit .env.local.

WEATHER_API_KEY_SPOT=replace_with_real_key
WEATHER_API_KEY_BPF=replace_with_real_key
WEATHER_LOCATION=London
WEATHER_LOCATION_LAT=51.5074
WEATHER_LOCATION_LON=-0.1278
WEATHER_LOCATION_BPF_COLLECTION=improver-percentiles-spot-uk
WEATHER_LOCATION_BPF_LOCATION_ID=00000001
